<!--Nate Sutton
Copyright 2013

All descriptions for a given work category are retreived.  Apart of the regular expressions used is logic to avoid an issue
with javascript html tags being unwantedly detected as work tags.  The term java is searched for first before additional
javascript html tags are added to the document to help assist the issue.
-->
<head>
	<%= javascript_include_tag "form_processing" %>
</head>
<body>
	<%= render :partial => 'nmsuttondetails/generalBeginningSection' %>
	<div id="mainContent">
		<br>
		<div class='TextInBarRoundedBorder YellowBar'>
			Selected Work in <%= @workCategoryKeyword %>
		</div>
		<br>
		<br>
		<form action="/tag_navigator/tag_details" method="post" id='generalForm'>
			<input id="parameterName" name="parameterName" type="hidden" />
			<% @WorkCategory.all.each do |c| %>
			<div class="rounded-corners outer-shadows" id="TextBox">
				<div id="TextBoxHeader">
					<%= c.time_range %>
				</div>
				<div id="TextBoxBody">
					<% @processedDescription = c.description %>
					<% @processedDescription.sub!(Regexp.new('java', Regexp::IGNORECASE),
            "<a href=\"javascript:processTagLink('Java')\">Java</a>") %> <% @UniqueTags.each do |tagListEntry| %>
					<% if (!(tagListEntry.tag_name =~ /[jJ][aA][vV][aA]/))%>
					<% @processedDescription.sub!(Regexp.new(tagListEntry.tag_name, Regexp::IGNORECASE),
            "<a href=\"javascript:processTagLink('"+tagListEntry.tag_name+"')\">"+tagListEntry.tag_name+"</a>") %> <% end %>
					<% end %>
					<%= @processedDescription.html_safe %>
				</div>
				<br>
			</div>
			<% end %>
		</form>
		<br>
		<div class="RectangleButton">
			<h5><a href="javascript:history.back()">Previous page</a></h5>
		</div>
	</div>
</body>