<!--Nate Sutton
Copyright 2013

All descriptions for a given work category are retreived.
-->
<head>
	<%= stylesheet_link_tag    "middle_section_page", :media => "all" %>
	<%= javascript_include_tag "application", "form_processing" %>
</head>
<body>
	<br>
	<h1>Selected Work on <%= @workCategoryKeyword %></h1>
	<br>
	<br>
	<form action="/tag_navigator/tag_details" method="post" id='generalForm'>
		<input id="parameterName" name="parameterName" type="hidden" />
		<% @WorkCategory.all.each do |c| %>
		<div class="rounded-corners outer-shadows" id="TextBox">
			<div id="TextBoxHeader">
				<%= c.time_range %>
			</div>
			<div id="TextBoxBody">
				<% processedDescription = c.description %>
				<% @UniqueTags.each do |tagListEntry| %>
				<% if (!(tagListEntry =~ /[jJ][aA][vV][aA]/) & !(processedDescription =~ /.*javascript:.*/))%>
				<% processedDescription.sub!(Regexp.new(tagListEntry.tagName, Regexp::IGNORECASE),
                  "<a href=\"javascript:processTagLink('"+tagListEntry.tagName+"')\">"+tagListEntry.tagName+"</a>") %> <% end %>
				<% end %>
				<%= processedDescription.html_safe %>
			</div>
			<br>
		</div>
		<% end %>
	</form>
	<br>
	<h5><a href="javascript:history.back()">Previous page</a></h5>
</body>