<!--Nate Sutton
	Copyright 2013
	
	This page displays descriptions relevant to a specific tag if any are found.
	
	References:
	http://stackoverflow.com/questions/8814472/how-to-make-an-html-back-link
	-->

<head>
	<%= stylesheet_link_tag    "middle_section_page" %>
</head>
<body>
<h3>Selected Experience With <%= $tagName %></h3>
<br>
<br>
<p>
	<% if @ProjectsWithTag.length > 0 then %>
		<h3>Projects</h3>
	<%= $RelevantProjectDescriptions %>
	<% end %>
</p>
<p>
	<% if @JobsWithTag.length > 0 then %>
		<h3>Jobs</h3>
	<%= $RelevantJobDescriptions %>
	<% end %>
</p>
<p>
	<% if @ClassesWithTag.length > 0 then %>
		<h3>Classes</h3>
	<%= $RelevantClassDescriptions %>
	<% end %>
</p>
<h5><a href="javascript:history.back()">Previous page</a></h5>
</body>